.container-checkbox
  display: flex
  align-items: flex-end
  gap: 14px
  word-wrap: break-word
  word-break: break-all
  cursor: pointer
  @include default-regular-text
  color: $blue
  letter-spacing: 0.36px
  min-width: 255px

  .custom-checkbox
    @include align-items-center
    gap: 16px
    width: 20px
    height: 20px
    background: $white-neutral
    border: 2px solid #C1C1C2
    border-radius: 3px