.phone-card-container
  @include direction-column
  align-items: flex-end
  gap: 8px

  .icons
    display: flex
    align-items: flex-end
    justify-content: flex-end

    img
      height: 120px
      flex-shrink: 0

      &._apple
        width: 64.8px

      &._xiaomi
        width: 84px

      &._samsung
        width: 90px

    .stroke
      padding: 0 0 22px 19.2px
      position: relative

      svg
        cursor: pointer

  .model-title
    padding-right: 10px
    @include default-body-text