.popover-phone-card-block
  @include align-items-center
  height: 50px
  gap: 23px

  .icons
    @include align-items-center
    gap: 18px
    height: 50px

    img
      width: 23.9px
      height: 50px

  .card-text
    @include default-regular-text
    color: $black